body{
	width: 900px;
	margin: auto;
	background-color: lightblue;
}
img{
	height: 350px;
	width: 900px;
	margin-bottom: 0px;
}
nav ul{
	display: flex;
	justify-content: space-between;
	margin-top: 0px;

}
 nav li {
	list-style-type: none;
}
nav li a{
	border: 2px double black;
	padding: 2px 20px 2px 20px;
	border-radius: 15px;
}
a:hover{
	font-size: 1.4em;
	background-color: blue;
	color: black;
}
p{
	font-size: 1.4em;
}
#sant{
	height: 150px;
	width: 100%;
	border: 2px solid blue;
	box-shadow: 10px -15px blue;
}
section{
	display: flex;
	justify-content: space-between;
}
#salih{
	height: 100px;
	width: 190px;
}
#sermon{
	font-size: 1.9em;
	color: blue;
	font-weight: bold;
}